{% load url from future %}

<form method="POST" action="#?" data-action="{% url 'repositories_save_repo' %}">
    {% csrf_token %}
    <div class="b-field clearfix">
        <label>Repo name:</label>
        {{ repo_form.name }}
        {{ repo_form.name.errors }}
    </div>
    <div class="b-field clearfix">
        <label>Domain:</label>
        {{ repo_form.cname }}
        {{ repo_form.cname.errors }}
    </div>
    <div class="align-center">
        <input type="submit" class="btn btn-inverse" value="Save">
    </div>
</form>