/*base*/
body {
  background: #334443 url('../images/grid.png') repeat 0 0;
}
input,
textarea,
body {
  color: #ddd;
  font-size: 12px;
  font-family: Tahoma, 'Geneva CY', sans-serif;
}
a {
  color: #ddd;
}
a:hover {
  color: #de9b03;
}
::selection {
  background: #868686;
  color: #fff;
}
::-moz-selection {
  background: #868686;
  color: #fff;
}

/*layout*/
.l-page {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-height: 100%;
}
.l-wrap {
  height: 458px;
}
.l-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -229px 0 0 -490px;
  width: 980px;
  height: 458px;
}
.l-page_index {
  min-height: 451px;
}

/*blocks*/
.b-htext {
  position: absolute;
  bottom: 8px;
  left: 25px;
  width: 189px;
  text-align: center;
  font-size: 20px;
  font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
}
.b-htext .arrow {
  display: inline-block;
  margin-top: 10px;
  width: 19px;
  height: 19px;
  background: url('../images/sprite.png') no-repeat -253px 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
}

.b-text {
  font-size: 15px;
  font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
}

.b-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../images/sprite.png') no-repeat 0 0;
}
.b-icon_tumblr {
  background-position: -32px 0;
}
.b-icon_press {
  background-position: -64px 0;
}
.b-icon_github {
  width: 152px;
  height: 50px;
  background-position: -96px 0;
}

.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
  -moz-opacity: 0.5;
}

.b-blogs {
  text-align: center;
}

.b-sblog .title {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}
.b-sblog .btitle {
  display: block;
  margin-bottom: 4px;
  padding-top: 4px;
  font-weight: 600;
  font-size: 14px;
}
.b-sblog .b-sselect {
  margin-bottom: 10px;
}

.b-sselect {
  margin-bottom: 15px;
}
.b-sselect select{
  width: 100%;
  height: 25px;
}
.js select {
  display: none;
}
.sselect {
  position: relative;
  height: 25px;
}
.sselect-text {
  position: relative;
  overflow: hidden;
  height: 25px;
  border: 1px solid #4d5555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #293332;
  line-height: 27px;
  cursor: pointer;
}
.sselect-text .txt {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 6px;
  height: 25px;
  line-height: 26px;
}
.sselect-text .icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 11px;
  height: 10px;
  background: url('../images/sprite.png') no-repeat -253px -20px;
}
.sselect-list {
  position: absolute;
  bottom: 27px;
  display: none;
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #273130;
}
.sselect-open .sselect-list {
  display: block;
}
.sselect-ul {
  overflow: auto;
  margin: 3px;
  max-height: 221px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ddd;
}
.sselect-list a {
  display: block;
  padding: 3px 25px;
  color: #444;
  text-decoration: none;
  word-wrap: break-word;
}
.sselect-list a:hover {
  background-color: #cecece;
}
.sselect-list .selected a {
  background: #d4d4d4 url('../images/ok.png') no-repeat 5px center;
}

.b-github {
  text-align: center;
}

.b-field {
  margin-bottom: 6px;
}
.b-field label {
  float: left;
  margin-right: 5px;
  width: 80px;
  text-align: right;
  font-size: 12px;
  line-height: 29px;
}
.b-field label a {
  text-decoration: none;
}
.b-field input {
  float: right;
  padding: 7px 5px 5px;
  width: 89px;
  border: 1px solid #4d5555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #293332;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.b-field input:focus {
  border-color: #6c7676;
  -webkit-box-shadow: 0 1px 1px 0 #25302f inset, 0 0 4px #172524;
  -moz-box-shadow: 0 1px 1px 0 #25302f inset, 0 0 4px #172524;
  box-shadow: 0 1px 1px 0 #25302f inset, 0 0 4px #172524;
}
.error input,
.error .sselect-text {
  border-color: #cf2d2d;
}
.errorlist {
  padding-top: 2px;
  color: #cf2d2d;
  text-align: right;
  font-size: 11px;
}

.b-repo {
  text-align: center;
  font-size: 14px;
}
.b-repo p {
  margin-bottom: 13px;
}
.b-repo .title {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}
.b-repo .rtitle {
  display: block;
  margin-bottom: 4px;
  padding-top: 4px;
  font-weight: 600;
  font-size: 14px;
}

.b-import {
  text-align: center;
}
.b-import .btn {
  margin: 0 auto;
  padding: 14px 24px;
  width: 380px;
  text-decoration: none;
  font-weight: 600;
}

.b-import .progress {
  width: 430px;
}
.b-import .progress,
.b-import .progress .bar {
  position: relative;
  height: 48px;
}
.b-import .progress .bar  {
  z-index: 2;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-import .progress .txt {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  color: #777;
}

.hide {
  position: absolute;
  top: -40000px;
  left: -4000px;
}
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 12;
  margin: -15px 0 0 -15px;
}
.red {
  color: #ff0000;
  font-weight: 600;
}
.green {
  color: #00ff00;
  font-weight: 600;
}

.b-error {
  position: absolute;
  top: -105%;
  left: 0;
  z-index: 12;
  width: 100%;
  background: #283736 url('../images/grid.png') repeat 0 0;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.b-error .messages {
  padding: 10px 20px;
}
.b-error li {
  padding: 3px;
}
.b-error .error {
  color: #ff0000;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.cell {
  position: relative;
  float: left;
  padding: 25px;
  width: 430px;
  border-bottom: 1px dashed #415857;
}
.cell-l,
.cell-r {
  width: 189px;
}
.cell-l,
.cell-r {
  width: 189px;
}
.cell-l {
  margin-left: 10px;
  border-right: 1px dashed #415857;
}
.cell-r {
  border-left: 1px dashed #415857;
}
.cell:hover {
  background-color: rgba(41,41,41, 0.3);
  -webkit-transition: background-color 1.0s linear;
  -moz-transition: background-color 1.0s linear;
  -ms-transition: background-color 1.0s linear;
  -o-transition: background-color 1.0s linear;
  transition: background-color 1.0s linear;
}
.b-content .cell {
  border-bottom: none;
}
.b-header .cell {
  height: 240px;
}
.b-content .cell {
  height: 120px;
}
.cell-m .import {
  margin-top: 50px;
}
.b-text .listerror {
  padding-left: 10px;
  font-size: 16px;
}
 .copy {
    bottom: 20px;
    color: #999999;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 249px;
    z-index: 20;
}
 .copy a {
    color: #999999;
    text-decoration: none;
}
