<!DOCTYPE html>
<!--[if IE 6]><html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/global.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,700,600,500' rel='stylesheet' type='text/css'>
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="media/css/ie.css">
  <![endif]-->
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <div class="l-page">
    <header class="l-header">
      <div class="wrap">
        <h1 class="b-title"><a href="/">BlogTitle</a></h1>  
      </div>
    </header>
    <section class="l-middle">
      <aside class="l-sidebar">
        {% if tags %}
        <div class="b-widget">
          <span class="title">Tags</span>
          <ul class="list">
            {% for tag, articles in tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if SOCIAL %}
        <div class="b-widget">
          <span class="title">Social</span>
          <ul class="list social">
            <li>
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
            </li>
            {% if FEED_RSS %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
            {% endif %}

            {% for name, link in SOCIAL %}
              <li>
                <a href="{{ link }}" target="_blank">{{ name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if LINKS %}
          <div class="b-widget">
            <span class="title">Blogroll</span>
            <ul class="list">
              {% for name, link in LINKS %}
              <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </aside>
      <div class="l-content">
        {% block content %}
        {% endblock %}
      </div><!-- class="l-content" -->
    </section><!-- class="l-middle" -->
  </div><!-- class="l-page" -->
  <script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="media/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/script.js"></script>
</body>
</html>