<!DOCTYPE html>
<!--[if IE 6]><html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Djangodash12</title>
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <link rel="stylesheet" href="./theme/css/global.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="./theme/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./theme/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,700,600,500' rel='stylesheet' type='text/css'>
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="media/css/ie.css">
  <![endif]-->
  <script type="text/javascript" src="media/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <div class="l-page">
    <header class="l-header">
      <div class="wrap">
        <h1 class="b-title"><a href="#?">BlogTitle</a></h1>  
      </div>
    </header>
    <div class="b-content">
      <section class="b-posts">
        <article class="b-post">
          <header>
            <h1 class="entry-title"><a href="#?">Title for post</a></h1>
            <span class="date">Mon 16 July 2012, in <a href="#?">thoughts</a>. </span>
          </header>
          <section class="post-content">
            <p>Depuis que j'ai commencé à bosser chez Mozilla, je me retrouve assez souvent à expliquer ce que j'y fais. J'aime bien raconter l'histoire de Mozilla, la mission, et comment je m'y rattache.
            Depuis que j'ai commencé à bosser chez Mozilla, je me retrouve assez souvent à expliquer ce que j'y fais. J'aime bien raconter l'histoire de Mozilla, la mission, et comment je m'y rattache.
            Je prends bien sur un malin plaisir à expliquer à chaque fois les tenants et les aboutissants, aussi je me suis dit que ça pouvait avoir du sens de l'écrire quelque part.</p>
            Ça parle bien sur de logiciel libre, de protection de la vie privée et de contre-pouvoirs.
            <p>Je ne m'adresse pas ici aux afficionados du logiciel libre et du non contrôle du web, mais aux potentiels intéressés, qui souhaitent comprendre ce qu'on fait à Mozilla, pourquoi et comment, et plus particulièrement quel est le rôle que je joue la dedans.</p>
            <h2>Post num 2</h2>
            <p>Je ne m'adresse pas ici aux afficionados du logiciel libre et du non contrôle du web, mais aux potentiels intéressés, qui souhaitent comprendre ce qu'on fait à Mozilla, pourquoi et comment, et plus particulièrement quel est le rôle que je joue la dedans.</p>
            <h3>Post num 2</h3>
            <p>Je ne m'adresse pas ici aux afficionados du logiciel libre et du non contrôle du web, mais aux potentiels intéressés, qui souhaitent comprendre ce qu'on fait à Mozilla, pourquoi et comment, et plus particulièrement quel est le rôle que je joue la dedans.</p>
            <h4>Post num 2</h4>
            <p>Je ne m'adresse pas ici aux afficionados du logiciel libre et du non contrôle du web, mais aux potentiels intéressés, qui souhaitent comprendre ce qu'on fait à Mozilla, pourquoi et comment, et plus particulièrement quel est le rôle que je joue la dedans.</p>
          </section>
          <footer>
            <div class="b-tags">
              Tags: <a href="#?">Tag 1</a> <a href="#?">Tag 2</a> <a href="#?">Tag 3</a>
            </div>
          </footer>
        </article>
      </section>
    </div><!-- class="b-content" -->
  </div><!-- class="l-page" -->
  <script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="media/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="media/js/script.js"></script>
</body>
</html>