/*reset*/
html,body,div,span,strong,h1,h2,h3,h4,h5,h6,
p,blockquote,a,address,em,img,ins,q,b,u,i,
object,label, ul, li,ol, form
{margin: 0; padding: 0; outline: 0; background: transparent;}
html { 
  overflow-y: scroll;
}
html, body {
  height:100%; 
  width: 100%;
}
table { 
  border-collapse: collapse;
  border-spacing: 0; 
}
caption,
th,
td {
 text-align: left; 
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  outline: none;
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover {
  text-decoration: none;
}
a, 
a:focus, 
a:hover, 
a:active {
     outline: none;
} 
a span, 
a strong, 
a img {
  cursor: pointer;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  color: #2493b1;
  font-weight: 600;
  font-family: 'Advent Pro', 'Arial', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul, ol { 
  list-style:none;
}
dd {
  margin: 0 0 0 40px;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; 
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal; 
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clear {
  display: block;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}