/*base*/
body {
  background: #334443 url('../images/grid.png') repeat 0 0;
}
input,
textarea,
body {
  color: #333;
  font-size: 12px;
  font-family: Tahoma, 'Geneva CY', sans-serif;
}
a {
  color: #334443;
}

::selection {
  background: #868686;
  color: #fff;
}
::-moz-selection {
  background: #868686;
  color: #fff;
}

/*layout*/
.l-page { 
  position: relative;
  overflow: hidden;
  margin: 0 auto; 
  min-height: 100%;
  /*background-color: #ddd;*/
}
.l-header {
  padding: 20px 0;
  background-color: #ddd;
  background: #283736 url('../images/grid.png') repeat 0 0;
  margin-bottom: 30px;
}
.l-header .wrap {
  margin: 0 auto;
  width: 960px;
}
.l-middle {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}
.l-middle .l-content {
  float: left;
  width: 725px;
}
.l-middle .l-sidebar {
  float: right;
  width: 200px;
}
/*blocks*/

.b-post header .date a:hover,
.entry-title a:hover,
.b-post footer .author a:hover {
  color: #2493b1;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.b-title {
  font-family: 'Advent Pro', 'Arial', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  font-size: 35px;
}
.b-title a {
  text-shadow: 2px 1px 0 rgba(0,0,0,0.40);
  text-decoration: none;
}
.b-title a:hover {
  color: #ffb100;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.b-post {
  padding: 15px 20px;
  background-color: #ddd;
  color: #444;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  margin-bottom: 20px;
}
.b-post header {
  margin-bottom: 14px;
  padding-bottom: 10px;
  border-bottom: 3px solid #c8c8c8;
}
.b-post header .date {
  display: block;
  font-size: 12px;
  padding-top: 3px;
}
.b-post .entry-title {
  color: #334443;
  font-weight: 700;
}
.b-post footer {
  padding-top: 10px;
}
.b-post footer .author {
  padding: 10px 10px 0;
  font-size: 14px;
  text-align: right;
}
.b-post footer .author a {

}

.b-tags {
  padding: 10px;
  background-color: #bdbdbd;
}

.b-widget {
  padding: 12px 0 15px;
  background-color: #ddd;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  margin-bottom: 20px;
}
.b-widget .title {
  display: block;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Advent Pro', 'Arial', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}
.b-widget .list a {
  display: block;
  padding: 5px 20px;
}
.b-widget .list li:hover {
  background-color: #cbcbcb;
}
.b-widget .social a {
  padding-left: 45px;
}
.b-widget .social a[type$="atom+xml"], 
.social a[type$="rss+xml"] {
  background: url('../images/rss.png') no-repeat 20px center;
}
.social a[href*="github.com"] {
  background: url('../images/github.png') no-repeat 20px center;
}

.pagination {
  padding: 10px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  background-color: #ddd;
}
.pagination {
  overflow: hidden;
}
.pagination li {
  float: left;
}
.pagination a {
  display: block;
  height: 20px;
  line-height: 20px;
  min-width: 15px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.pagination .active a {
  background-color: #444444;
  color: #DDDDDD;
}
/*.text block*/

.post-content {
  overflow: hidden;
  font-family: Tahoma, 'Geneva CY', sans-serif;
  font-size: 14px;
}
.post-content a {
  color: #334443;
}
.post-content p {
  margin-bottom: 14px;
}
.post-content h2,
.post-content h1 {
  margin-bottom: 10px;
}
.post-content h6,
.post-content h5,
.post-content h4,
.post-content h3 {
  margin-bottom: 7px;
}

.post-content ul,
.post-content ol {
  padding: 0;
  margin: 0 0 10px 30px;
}
.post-content ul ul,
.post-content ul ol,
.post-content ol ol,
.post-content ol ul {
  margin-bottom: 0;
}
.post-content ul {
  list-style: disc;
}
.post-content ol {
  list-style: decimal;
}
.post-content li {
}
.post-content ul.unstyled,
.post-content ol.unstyled {
  margin-left: 0;
  list-style: none;
}